.numberOfGroup {
  display: flex;
  flex-direction: row;
}

.number {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border: 2px dashed black;
  background-color: white;
  margin: 10px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 24px;
}

.h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
}

.h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
}

