.numberOfGroup {
  display: flex;
  flex-direction: row;
}

.number {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border: 3px dashed black;
  background-color: #E9BE96;
  margin: 10px;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  font-size: 40px;
}

.h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
}

