.selectFormation {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.selectFormation button {
  font-size: 30px;
  font-family: "Lexend", sans-serif;
  padding: 10px;
  color: black;
}

.pageHeader {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.pageContent {
  padding: 20px;
}
