.selectFormation {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.howManyGroups {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
}
